* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #2b3938;
  font-family: "Computer Modern Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;

  background: #fefefe;
  text-align: justify;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

footer {
  width: 60%;
  color: #726767;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
}


.navbar {
  z-index: 10;
  width: 60%;

  position: fixed;
  top: 20px;
  font-size: 14px;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  line-break:strict;
}

.main-content {
  margin-top: 90px;
  margin-bottom: 50px;
  min-height: 100vh;
  width: 60%;
}

table.navtable{
  width: 100%;
  text-align: center;
  padding: auto;
  margin: 0;
  height: 40px;

  font-size: 16px;
  font-weight: bolder;

  line-break: anywhere;
}

table.navtable td{
  cursor: pointer;
  vertical-align: middle;
}


table.navtable td:hover{
  background-color: darkslateblue;
  color: white;
  transition: background-color 1s ease, color 0.5s ease;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  width: 100%;
  left: 0;
  top: 100%;
  display: none;
  position: absolute;
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  opacity: 0;
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: #333;
  padding: 10px ;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content a:hover {
  background-color: lightcyan;
  transition: background-color 0.3s ease;
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

a {
color: #00296b;
text-decoration: none;
}

a:visited {
color: #ac4800;
}

a:hover {
color: rgb(0, 78, 181);
}

a:focus {
outline: thin dotted;
}



math{
  color: rgb(0, 80, 107);
  font-style: normal;
  font-weight: 100;
  letter-spacing: 2px;
  /* overflow-x: scroll; */
  white-space:nowrap;
}

/* *::-moz-selection {
background: rgba(255, 255, 0, 0.3);
color: #000;
}

*::selection {
background: rgba(255, 255, 0, 0.3);
color: #000;
}

a::-moz-selection {
background: rgba(255, 255, 0, 0.3);
color: #0645ad;
}

a::selection {
background: rgba(255, 255, 0, 0.3);
color: #0645ad;
} */


@media only screen and (min-width: 480px) {
body {
font-size: 14px;
}
}
@media only screen and (min-width: 768px) {
body {
font-size: 16px;
}
}

@media print {
* {
background: transparent !important;
color: black !important;
filter: none !important;
-ms-filter: none !important;
}

a, a:visited {
text-decoration: underline;
}

hr {
height: 2px;
border: 0;
border-bottom: 1pt solid black;
}

a[href]:after {
content: " (" attr(href) ")";
}

abbr[title]:after {
content: " (" attr(title) ")";
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
content: "";
}

pre, blockquote {
border: 1px solid #999;
padding-right: 1em;
page-break-inside: avoid;
}

tr, img {
page-break-inside: avoid;
}

img {
max-width: 100% !important;
}

@page :left {
margin: 15mm 20mm 15mm 10mm;
}

@page :right {
margin: 15mm 10mm 15mm 20mm;
}

p, h2, h3 {
orphans: 3;
widows: 3;
}

h2, h3 {
page-break-after: avoid;
}
}